<%- include('../partials/head.ejs') %>

<%- include('../partials/adminMenu.ejs') %>

<p>Welcome to the admin environment where you can freely express your feelings towards books.</p>

<%- include('../partials/foot.ejs') %>
