
<!-- Admin menu -->
<nav>
  <h1>Book Something Administration Environment</h1>
  <ul>
    <li><a href="<%= req.baseUrl + '/upload' %>">Upload</a></li>
    <li><a href="<%= req.baseUrl + '/logout' %>">Logout</a></li>
  </ul>
</nav>
