<%- include('partials/head.ejs') %>

<h1>We at <%= title %> like books..</h1>
<p>No seriously... we really like books. Click on the books menu item above here and we'll prove it to you.</p>

<%- include('partials/foot.ejs') %>
