<%- include('../partials/head.ejs') %>

<h1>This is a very secret page.. about books.</h1>
<p>Something you aren't allowed to read... So please <a href="/secrets/logout">logout</a>.</p>

<%- include('../partials/foot.ejs') %>
